



.cancel{
    background-color: #E47D3C;
}

.content{
    display: none;
    margin: 0 5%;
}


#welcomeButtons{
    margin: 3em auto;
}

#login{
    margin-top: 25px;
}

#createUser{
    margin-bottom: 4em;
    margin-top: 0;
}

#building-label{
    padding-right: 4em;
}

#buildingList{
    background-color: #668899;
    color: #fff9fe;
    min-height: 2em;
    margin-bottom: .25em;
    font-size: .85em;
}