#building-label{
    padding-right: 4em;
}



.content{
    display: none;
    margin: 0 5%;
}

#createUser{
    margin-bottom: 4em;
    margin-top: 0;
}

#login{
    margin-top: 25px;
}

#welcomeButtons{
    margin: 3em auto;
}



