body {
    background-color: #243949;
    color: white;
}

header {
    font-size: 3em;
    text-align: center;
    height: 200px;
    text-decoration: underline;
}

a {
    color: #fff9fe;
}

input {
    background-color: #195f77;
    color: #fff9fe;
}

.content{
    display: none;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.welcome_button {
    height: 100px;
    width: 200px;
    border-radius: 12px;
    box-shadow: -5px 5px 15px  #fff9fe;
    font-size: large;
    color: #243949;
}