
a {
    color: #fff9fe;
}

#all_maintenance_requests {
    text-decoration: underline;
}

#buildingList {
    font-family: 'Merriweather', sans-serif;
    font-size: .75em;
}

.button-panel {
    text-align: center;
}

.content {
    display: none;
    margin: 0 5%;
}

#delete {
    background-color: #E47D3C;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    background-color: #195f77;
    text-align: center;
}

.form-field {
    width: 40%;
    margin: 2em auto;
}

input {
    background-color: #195f77;
    color: #fff9fe;
    min-height: 2em;
}

input[type="radio"] {
    height: 1.5em;
    width: 1.5em;
}

#logout {
    top: -10px;
    right: 10px;
    position: fixed;
}

#maintenance_request {
    background-color: #195f77;
    color: #fff9fe;
}

#renter_maintenance_link {
    margin: 2em;
}

#showAllMaintenance > li {
    display: inline-block;
    min-height: 8em;
    vertical-align: top;
    margin: 2em;
    width: 40%;
}

.wrapper {

    margin-bottom: 4em;
}