{% extends "base_generic.html" %}
{% block content %}
    <!-- welcome view -->
    <div class="wrapper">
        <!--show renter view, hide all else -->
        <button class="welcome_button" id="renterButton")>Renter</button>
        <!--show owner view(old index) hide all else -->
        <button class="welcome_button" id="ownerButton" >Manager</button></a>
    </div>

    <!--renter view -->
    <!--on click show update_request section index[0] -->
    <button class="content" id="renter_maintenance_link" >Click to add a new maintenance request</button><br>

    <!--owner view -->
    <div class="content" id="owner_view">
    <!--on click show update_building section index[0] -->
    <button id="owner_property_add" >Click to add a new rental property</button><br>
    <!--on click show update request index[0] -->
    <button id="owner_maintenance_add">Click here to add a new maintenance request</button>
    <h1>Building Details</h1>
    <ul id="buildingDetail">
         <!--on click update property details -->
        <br>
    </ul>

 <!--show all maintenance requests -->

<h1 id="all_maintenance_requests" style="text-decoration: underline">Maintenance Requests</h1>
    <ul id="maintenanceDetail">

         <!-- on click show update request  -->


    </ul>
</div>

    <!--update maintenance, add maintenance request -->
    <div  class="content" id="maintenanceRequest" method="POST">
        {% csrf_token %}
        <input type="hidden" value="0" id="mainId">
        <label>Building</label><br>
        <select name = "rental" id="buildingList">
        </select><br>
        <label>Unit Number</label><br>
        <input name = "maintenance_rental" id="maintenance_rental"><br>
    <label>Tenant Name</label><br>
        <input name = "maintenance_author" id="maintenance_author"><br>
    <label>Maintenance Request</label><br>
        <input name = "maintenance_request" id="maintenance_request"><br>

        <button onclick="sendMaintenanceRequest()" value = "SAVE">Save Changes</button>
    </div>

    <!-- update building, add new property -->
    <div class="content" id="updateAddBuilding" method="POST">
        <input type="hidden" value="0" id="id">
        <label>Rental Name</label><br>
        <input name = "rental_name" id="rental_name" ><br>
        <label>Address</label><br>
        <input name = "address" id="address"><br>
        <label>State</label><br>
        <input name = "state" id="state"><br>
        <label>Zipcode</label><br>
        <input name = "zipcode" id="zipcode"><br>
    <button onclick="sendBuildingUpdate()" value = "SAVE" name="action">Save Changes</button>
    <button onclick="deleteBuilding()" value="DELETE" name="action">Delete Property</button>
    </div>

    <div class="content" id="showAllMaintenance">

    </div>
{% endblock %}